/* .reports {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  } */
  
  .reports__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .reports__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555;
  }
  
  .reports__table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .reports__table th, 
  .reports__table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .reports__table th {
    text-align: center;
    background-color:#007bff;
    font-weight: bold;
    color:white;
  }
  
  .reports__table tr:nth-child(even) {
    background-color: #fafafa;
  }
  