/* SideBar.css */
.sidebar {    
    width: 260px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 15px;
}

.sidebar h2 a{
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none; 
    padding:25px;       
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover state */
.sidebar ul li a:hover {
    background-color: #415163;
}

/* Active state */
.sidebar ul li a.active {
    background-color: #007bff;
    font-weight: bold;
}